# Python
__pycache__/
*.py[cod]
*$py.class

# Django
db.sqlite3

# Virtual environment
venv/
.venv/

# Environment variables
.env

# Media uploads
media/

# Static collected files
staticfiles/

# IDE
.vscode/
.idea/